@import 'includes.scss';

.container-login {
  align-items: center;
  background: linear-gradient(120deg, $pale-pink, $red-orange);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  > .container-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $white;
    padding: 40px;

    > .title {
      font-size: 24px;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 10px;
    }

    > .button {
      margin-top: 20px;
    }
  }
}
